<ng-container *ngIf="accounts.length > 0; else noAccounts">
  <ul class="entity-list">
    <li *ngFor="let account of accounts" class="entity-list-item">
      <ng-container *ngTemplateOutlet="accountEntry; context: { displayName: getDisplayName(account), role: account.role, id: account.id }"></ng-container>
    </li>
  </ul>
</ng-container>

<ng-template #noAccounts>
  <p class="no-entities-message">No accounts found.</p>
</ng-template>

<ng-template #accountEntry let-displayName="displayName" let-role="role" let-id="id">
  <span>{{displayName}}</span>
  <div></div>
  <div></div>
  <a routerLink="./accounts/{{id}}">Details</a>
</ng-template>

<br/>
