@import "src/scss/styles";

.project-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .project-list-item {
    color: var(--color-text);
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-form-border);

    &:last-child {
      border-bottom: none;
    }
  }
}

.no-projects-message {
  color: var(--color-text);
}

