:host{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100vw;

  background: var(--color-form-background);

  padding: 0.5em;

  box-shadow: rgba(0,0,0,0.51) -5px 5px 5px;
}

.nav-bar-buttons {
  display: flex;

  width: 600px;

  margin: auto;
  justify-content: space-around;
}

.nav-bar-buttons > a {
  font-weight: bold;

  &:hover {
    text-shadow: var(--color-text) 0 0 6px;
  }
}

.account-bar {
  position: absolute;

  bottom: 0;
  transform: translateY(-40%);

  right: 50px;

  text-align: center;

  @media (max-width: 1000px) {
    display: none;
  }
}


