<!--<div class="panel">-->
<!--  <h1>Sign in via Google!</h1>-->

<!--  <div class="google-auth-container">-->
<!--    <app-google-auth-->
<!--      (authenticated)="OnAuthenticated()"-->
<!--      (authenticationStarted)="OnAuthenticationStarted()"-->
<!--    ></app-google-auth>-->
<!--    <div-->
<!--      *ngIf="loading"-->
<!--      class="lds-dual-ring">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="panel">
  <form class="form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username">
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password">
    </div>
    <br/>
    <div>
      <div *ngIf="loading">
        <div class="dual-ring-spinner-small"></div>
      </div>
    </div>
    <div class="right-full">
      <button class="button-small" type="submit">Login</button>
    </div>
  </form>
</div>

