@import "/src/scss/pop-up";
@import "/src/scss/panel";
@import "/src/scss/spinner";

:host {
  @extend .pop-up;

}

.google-auth-container {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 5em;
}

