.form {
  background-color: var(--color-form-background);

  padding: 1em;

  border-radius: 0.5em;
}

.form .input-group {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: auto;

  padding: 1em 1em;
}

.form label {
  font-weight: bold;
}

input[type="text"] {
  background-color: var(--color-form-input-background);
  border: 1px solid var(--color-form-input-border);
  border-radius: 4px;
  color: var(--color-text);
  font-size: 16px;
  padding: 8px;
}

input[type="text"]:focus {
  border-color: var(--color-form-input-focus-border);
  outline: none;
}

.error {
  color: red;
  width: 100%;
}
