<h1 class="gradient-text">Edit Project</h1>
<form class="form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
    <div class="error"></div>

    <div
      class="error"
      *ngIf="checkIfShowError('name')">
      <div *ngIf="projectForm.get('name')!.errors!.required">
        Name is required
      </div>
    </div>
  </div>

  <div class="input-group">
    <label for="description">Description:</label>
    <input id="description" type="text" formControlName="description">
    <div class="error"></div>

    <div
      class="error"
      *ngIf="checkIfShowError('description')">
      <div *ngIf="projectForm.get('description')!.errors!.required">
        Name is required
      </div>

    </div>
  </div>

  <div class="right-full">
    <button class="button-small" type="submit">Create Project</button>
  </div>
</form>
<div class="dual-ring-spinner" *ngIf="loading"></div>


